<div class="grid">

  <h1>Be part of the A team</h1>


  <div class="inputs-container">
    <div class="input-block">
      <label>Full Name</label>
      <input placeholder="ex. Jack White">
    </div>

    <div class="input-block">
      <label>Full Name</label>

      <div class="options-container gender-options">
        <input type="radio" id="male" name="gender" value="male" checked/>
        <input type="radio" id="female" name="gender" value="female"/>
        <input type="radio" id="male" name="gender" value="male"/>
        <input type="radio" id="female" name="gender" value="female"/>
      </div>

    </div>


  </div>


</div>
