<div class="grid">

  <div class="app-logo">
    <img src="<%= image_path 'app-logo.png' %>">
  </div>

  <h1>Build your dream Team</h1>

  <%= form_tag(results_path) do %>

      <div class="slider">

        <div class="inputs-container slide">

          <div class="input-block">
            <label>Company</label>
            <input name="company" placeholder="ex. Marvel">
          </div>


          <div class="input-block">
            <label>Project Name</label>
            <input name="project-name" placeholder="ex. LA, California (GMT-7)">
          </div>

          <div class="controls-container">
            <div class="next-question question-buttons">Next</div>
          </div>

        </div>


        <div class="inputs-container slide">

          <div class="input-block">
            <label>Time Zone Preferences</label>
            <input name="time-zone" placeholder="ex. + -2">
          </div>


          <div class="input-block">
            <label>Languaje</label>

            <div class="options-container gender-options">
              <input type="radio" id="java" name="gender" value="Java" checked/>
              <input type="radio" id="ruby" name="gender" value="Ruby"/>
              <input type="radio" id="python" name="gender" value="Python"/>
              <input type="radio" id="switf" name="gender" value="Swift"/>
            </div>

          </div>

          <div class="controls-container">
            <div class="prev-question question-buttons"><< Prev</div>
            <div class="next-question question-buttons">Next</div>
          </div>

        </div>

        <div class="inputs-container slide">

          <div class="input-block">
            <label>Kick Off</label>
            <input name="kick-off" type="date" placeholder="ex. 01/07/2019">
          </div>


          <div class="input-block">
            <label>Due Date</label>
            <input name="due-date" type="date" placeholder="ex. 09/12/2019">
          </div>

          <div class="controls-container">
            <div class="prev-question question-buttons"><< Prev</div>
            <input type="submit" class="next-question question-buttons" value="Create Team">
          </div>

        </div>

      </div>

  <% end %>
</div>
