$black_wizeline: #444444;

html, body {
  text-align: center;
  overflow-x: hidden;
  background: white;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  text-decoration: none;
  color: $black_wizeline;

  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

body {
  text-align: center;
  position: relative;
  color: $black_wizeline;
  padding-top: 62px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: inline-block;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
  line-height: 1.3em;
}

h4 {
}

h5 {
}

h6 {
  font-size: 16px;
}

.grid {
  width: 100%;
  max-width: 900px;
  display: inline-block;
  text-align: center;
  margin: 40px auto 80px;

  .inputs-container {
    display: inline-block;
    width: 100%;
    margin: 20px 0px;
    padding: 20px 0px;
    text-align: center;

    .input-block {
      width: 100%;
      display: inline-block;
      margin: 30px 0px 0px;

      label {
        display: block;
        margin: 10px 0px;
        font-size: 0.9em;
        font-weight: bold;
      }

      input {
        width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        box-shadow: none;
        border: 2px solid #adadad;
        outline: none;
        padding: 10px 2%;
        font-size: 1em;
        color: #949494;
      }
    }

    .options-container {
      display: inline-block;
      width: 100%;

      input {
        display: inline-block;
        width: 24%;
        visibility: hidden;
        height: 100px;
        float: left;

        &::before {
          background: #9B9B9B;
          color: white;
          text-align: center;
          margin: 10px 3%;
          font-weight: bold;
          width: 200px;
          height: auto;
          line-height: 3;
          display: inline-block;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          visibility: initial;
          cursor: pointer;
        }

        &:checked::before {
          background-color: #00E5C0;
        }

      }

      &.gender-options {

        input#male {
          &::before {
            content: "Dobladito";
          }
        }

        input#female {
          &::before {
            content: "Bollito";
          }
        }

      }
    }

  }

  div a.bx-prev,
  div a.bx-next {
    display: none;
  }
  div.bx-wrapper {
    box-shadow: none;
  }

  .controls-container {
    display: inline-block;
    text-align: center;
    margin: 30px 0px 0px;
    width: 100%;
  }

  .question-buttons {
    cursor: pointer;
    display: inline-block;

    &.prev-question {
    }

    &.next-question {
      background-color: #00E5C0;
      color: white;
      text-align: center;
      margin: 10px 3%;
      font-weight: bold;
      width: 200px;
      height: auto;
      line-height: 3;
      display: inline-block;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      visibility: initial;
    }
  }

  .team-container {
    display: inline-block;
    text-align: center;
    margin: 80px auto;

    .team-block {
      display: inline-block;
      text-align: center;
      width: 19%;

      .team-name,
      .team-role,
      .team-skills {
        width: 100%;
        font-weight: bold;
        display: inline-block;
        text-align: center;
      }

      .team-role {
        font-weight: normal;
        font-size: 0.8em;
      }

      .team-skills {
        font-size: 0.7em;
        font-weight: bold;
      }

    }
  }

  .confirm-container{
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 40px 0px;

    a{
      background-color: #00E5C0;
      color: white;
      text-align: center;
      margin: 10px 3%;
      font-weight: bold;
      width: 200px;
      height: auto;
      line-height: 3;
      display: inline-block;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      visibility: initial;

      &.redo{
        background: #9B9B9B;
      }
    }
  }

}



